.my-nav{
    margin-bottom: 2em;
}
.row{
    min-height: 80px;
    min-width: 100%;
    margin-bottom:10px;
    background: rgb(65, 228, 240);
    color: yellow;
}
iframe{
    width: calc(100% - 50px);
    margin: auto;
    height: 28em;
    margin-bottom: 4em;
}
div{
    width: 100%;
}