*{
    background:#179797;
}
.my-nav{
    margin-bottom: 2em;
}
.row{
    min-height: 80px;
    min-width: 100%;
    margin-bottom:10px;
    color: grey;
}
iframe{
    width: calc(100% - 20px);
    margin: auto;
    height: 28em;
    margin-bottom: 4em;
    background: #A2D5D5;
}
div{
    width: 100%;
    margin: auto;
}
.a7 > iframe{
    visibility: hidden;
    height: 2em;
    
}
.a7{
     
    width:  calc(100% - 20px); 
    margin: auto;
    border: 1px solid black; 
    background-color: #106969; 
    text-align:center; 

}
.a7:before{
    content: "No Contents added to ";
}