*{
	box-sizing: border-box;	
	margin: 8px;
}
body{
	/*overflow: hidden;*/
	background-color: #22212C;
	color: white;
	padding: 20px;
}
section li{
	list-style: none;
	cursor: pointer;
}
a:link	,a:visited{
	text-decoration: none;
	color: rgb(71,213,123)
}
a:hover,a:active{
	color: cyan;
}
iframe{
    overflow:hidden;
}
#subjects,#intro{
	text-align: center;
}
h2{
	text-align: left;
}
iframe{
	 width:90%; 
	 height:600px; 
	 border:0;
}
#sub6 iframe{
	height: 100px;
}
